.recruitees-container(ng-controller='recruiteesController')
  .row.wow.fadeInUp(ng-repeat='recruitee in recruitees')
    .large-9.large-centered.columns.candidate-card
      .row
        .large-3.column.candidate-card--pic
          %img(ng-src= '{{recruitee.avatar}}' alt='')
        .large-9.columns
          .row
            .large-8.columns.candidate-card--info
              %h3 {{recruitee.full_name}}
              %hr
              %p {{recruitee.position}}
              %p {{recruitee.experience}}
            .large-4.columns.text-center(ng-class='scoreType(recruitee.global_score)')
              %h5 Global Score
              %h1 {{recruitee.global_score}}
