.row
  .large-9.large-centered.columns.candidate-card
    .row
      .large-3.column.candidate-card--pic
        %img{src:'/profile_pic.jpg', alt:''}
      .large-9.columns
        .row
          .large-8.columns.candidate-card--info
            %h3 Roger Doe Grumpy
            %hr
            %p Ruby Dev
            %p 30 Years of experience
          .large-4.columns.text-center.candidate-card--scorepass
            %h5 Global Score
            %h1 85

.row
  .large-9.large-centered.columns.candidate-card
    .row
      .large-3.column.candidate-card--pic
        %img{src:'/profile_pic2.jpg', alt:''}
      .large-9.columns
        .row
          .large-8.columns.candidate-card--info
            %h3 Emma Wattson
            %hr
            %p Designer
            %p 2 Years of experience
          .large-4.columns.text-center.candidate-card--scorefail
            %h5 Global Score
            %h1 55

.row
  .large-9.large-centered.columns.candidate-card
    .row
      .large-3.column.candidate-card--pic
        %img{src:'/profile_pic3.jpg', alt:''}
      .large-9.columns
        .row
          .large-8.columns.candidate-card--info
            %h3 Sameer Gadhia
            %hr
            %p Vocal God
            %p 4 Years of experience
          .large-4.columns.text-center.candidate-card--scoremeh
            %h5 Global Score
            %h1 75